@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000;
    color: #eee;
    font-size: 12px;
}

header {
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    margin: auto;
}

header nav a {
    color: #eee;
    margin-right: 40px;
    font-weight: 300;
}

.container {
    width: 100vw;
    height: 100vh;
    margin-top: -50px;
}

.container .list {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container .list .list-item {
    width: 100%;
    height: 100%;
    position: absolute;
}

.container .list .list-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.container .list .list-item .content {
    position: absolute;
    top: 20%;
    right: 10%;
    padding-right: 30%;
    width: 80%;
    text-shadow: 0 5px 10px #0004;
}

.container .list .list-item .content .tittle {
    font-size: 5em;
    font-weight: 700;
    line-height: 1.3em;
}

.container .list .list-item .content .description {
    font-size: 1.5em;
}

.container .list .list-item .content .buttons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

.container .list .list-item .content .buttons button {
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #eee;
    cursor: pointer;
    transition: .2s all;
}

.container .list .list-item .content .buttons button:hover {
    background-color: transparent;
    color: #eee;
    border: 1px solid #eee;
}

.container .list .list-item .content .buttons button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
}

.container .list .list-item .content .buttons button:nth-child(2):hover {
    background-color: #eee;
    color: #000;
}

/* THUMB */
.container .thumb {
    position: absolute;
    bottom: 50px;
    left: 50%;
    display: flex;
    gap: 20px;
}

.container .thumb .thumb-item {
    width: 135px;
    height: 200px;
    position: relative;
    z-index: 3;
}

.container .thumb .thumb-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(80%);
}

.container .thumb .thumb-item .thumb-contente {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.container .arrow {
    display: flex;
    position: absolute;
    bottom: 120px;
    left: 120px;
    gap: 10px;
    width: 300px;
    align-items: center;
}

.container .arrow button {
    border-radius: 10px;
    border: none;
    padding: 12px 17px;
    background-color: #eee4;
    color: #eee;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5em;
}

.container .arrow button:hover {
    background-color: #eee;
    color: #000;
    transition: .2s all;
}

/* ANIMAÇÕES */
/* THUMB MENOR */
@keyframes thumbMenor {
    from {
        transform: translateX(150px);
    }
}

.container.next .thumb .thumb-item {
    animation: thumbMenor .5s linear 1 forwards;
}

/* MOVIMENTO ULTIMA THUMB */
@keyframes ultimaThumb {
    from {
        width: 0;
        opacity: 0;
    }
}

.container.next .thumb .thumb-item:nth-last-child(1) {
    animation: ultimaThumb .5s linear 1 forwards;
}

/* EFEITO NO TEXTO */
@keyframes conteudoTexto {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.container .list .list-item:nth-last-child(1) .content .tittle,
.container .list .list-item:nth-last-child(1) .content .descripton,
.container .list .list-item:nth-last-child(1) .content .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: conteudoTexto .5s linear 1 1s forwards;
}

.container .list .list-item:nth-last-child(1) .content .tittle{
    animation-delay: .3s;
}

.container .list .list-item:nth-last-child(1) .content .descripton{
    animation-delay: .7s;
}

.container .list .list-item:nth-last-child(1) .content .buttons{
    animation-delay: 1s;
}



/* EFEITO IMG */
@keyframes imgPrincipal {
    to{
        bottom: 0;
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

.container.next .list .list-item:nth-last-child(1) img{
    width: 135px;
    height: 200px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 10px;
    animation: imgPrincipal .5s linear 1 forwards;
}

/* EFEITO IMG BACK */
@keyframes imgPrincipalBack {
    to{
        bottom: 50px;
        left: 50%;
        border-radius: 10px;
        width: 135px;
        height: 200px;
    }
}

.container.back .list .list-item:nth-child(1) img{
    bottom: 0;
    left: 0;
    position: absolute;
    animation: imgPrincipalBack .5s linear 1 forwards;
    z-index: 2;
}